h1{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 50px;
    color: black;
}

img{
    width: 250px;
    border: 7.5px dotted blue;
    margin: auto;
    height: 150px;
    float: left;
    margin: 12px;
    float: right;
}

p{
    font-size: x-large;
    font-family: monospace, cursive ;
    color: blue;
}
h2{
    font-size: large;
    margin: 300px;
    color: cornflowerblue;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

body{
    background-color: yellow;

}

nav{

float: right;
text-align: center;
margin-top: 5px;
font-size: 20px;
word-spacing: 30px;

}

#img2{

    width: 90px;
    height: 70px;
}

header{
    box-shadow: 12px 0px 10px black;
    border-bottom: 2px solid rgb(0, 0, 0);
}

a{
   padding: 20px 20px; 
   text-decoration: none;
}

.cricket{

display: inline-block;

}
